.App {
	background-color: antiquewhite;
	min-height: 100vh;
}

.Header {
	background-color: aquamarine;
	text-align: center;
}

.ThreadName {
	font-size: x-large
}
.Thread-container {
	text-align: center;
}

.ThreadTitle {
	font-size: large;
	padding: 3%;
}

ul {
	list-style-type: none;
}

li {
	border: 3px solid;
	margin: 5px;
}

